body {
    font-size: 1em;
    padding: 10px;

}

.form-control {
    width: 80%;
    padding: 12px 20px;
    margin: 0px 20px;
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 4px;
    box-sizing: border-box;
}
