body {
    font-family: 'Roboto', sans-serif;
}

.Checkbox{
height: 45px;
width: 55px;
display: inline-block;
padding: 5px 10px;

}
.etsinappula {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;
   
}
.kalenteri {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;
}

.plussa {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;
}
.userkuvalogin {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;
}

.userkuvalogout {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;
}
.puntti {
    height: 50px;
    width: 55px;
    padding: 5px 10px;
}