body {
    font-family: 'Roboto', sans-serif;
}

.Checkbox{
height: 45px;
width: 55px;
display: inline-block;
padding: 5px 10px;

}
.etsinappula {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;
   
}
.kalenteri {
    height: 42px;
    width: 53px;
    /*display: inline-block;*/
    padding: 0px 0px;
   
}

.plussa {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 3px 3px;
}
.userkuvalogin {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;
}

.userkuvalogout {
    height: 45px;
    width: 55px;
    /*display: inline-block;*/
    padding: 0px 0px;

}
.puntti {
    height: 52px;
    width: 75px;
    padding: 5px 10px;


}
.naama {
    height: 50px;
    width: 70px;
    padding: 5px 10px 5px;
}
.logo {
    height: 135px;
    width: 200px;
    padding: 5px 10px;
    float: none;
}

#myDIV {
    width: 100%;
    padding: 50px, 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}