/*.btn-margin {
    margin: 7px 3px;   
}*/

/*.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}*/

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #0993bc;
}
.navitesti a:hover {
    background-color: #0993bc;
}

/* Current/active navbar link */
/*.active {
    background-color: #4CAF50;
}*/
.navbar {
   display: flex;
    margin-right: 0 auto; 
    margin-top: 1em;
    max-width: 50em;
}
.profile {
    font-size: 2em;
    padding: 15px;   
}
.naviloota{

}
